<h1><%= @vehicle_brand.name %></h1>
<%= link_to 'Voltar', vehicle_brand_path(@vehicle_brand) %>
	
<hr>
<h1><%= @vehicle_name.name %> | <%= @vehicle_name.year %></h1>


<h3><%= @vehicle_name.obs %></h3>