<h1><%= @vehicle_brand.name %></h1>
<%= link_to 'Voltar', vehicle_brand_path(@vehicle_brand) %>
	
<hr>
<div class="well">
<h1 align="center"><%= @vehicle_name.name %> | <%= @vehicle_name.year %></h1>
<hr>

<h3 align="center"><%= @vehicle_name.obs %></h3>

</div>