<!DOCTYPE html>
<html>
<head>
  <title>Ultravisão Vistorias</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Animate CSS -->
    <link href="css/animate.css" rel="stylesheet">

</head>
<body>
<%= render partial: 'layouts/partials/header' %>
<div class="container">

<% flash.each do |name, msg| %> 
	<%= content_tag :div , msg, class: "alert alert-info"  %>
<% end %>

<%= yield %>

</div>
</body>
</html>




<!-- 

<% flash.each do |name, msg| %> 
<div class="flash flash-notice"> 
<span class="octicon oction-x flash-close js-flash-close">
		<%= content_tag :div , msg, class: "alert alert-info" %>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>

</span>
</div>
<% end %> -->


<!-- FUNCIONANDO 
<% flash.each do |name, msg| %> 
  <%= content_tag :div , msg, class: "alert alert-info"  %>
<% end %>


 -->